.modal-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(12, 17, 23, 0.98);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    overflow: auto;

    @media (max-height: 800px) {
        align-items: flex-start;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal-wrapper {
    height: min-content;
    background-color: #ececec;
    max-width: 500px;
    margin: 15px;
    flex-grow: 1;
    transform: translateY(-50%);
    transition: 0.2s;

    &.active {
        transform: translateY(0);
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    background-color: $primary-color;
    padding: 10px 15px;

    .btn-close {
        border: 0;
        outline: none;
        background-color: transparent;
        color: #ffffff;
        cursor: pointer;
        font-size: 32px;
    }
}

.modal-description {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-form {
    padding: 15px;
}

.modal-input,
.modal-textarea {
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    outline: none;
    border: 2px solid transparent;
    padding: 0 15px 0;
    transition: 0.2s;
    cursor: pointer;

    &::placeholder {
        color: rgba(51, 51, 51, 0.5);
    }

    &:focus {
        border-color: $primary-color;
    }

    @media (min-width: 993px) {
        &:hover {
            border-color: $primary-color;
        }
    }
}

.modal-textarea {
    height: 150px;
    resize: none;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (max-width: 400px) {
        height: 100px;
    }
}

.input-label,
.textarea-label {
    display: inline-block;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    margin: 15px 0 10px;
}

.modal-btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0 -5px;
}

.modal-btn {
    flex: 1 1 auto;
    margin: 10px 5px 0px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 5px 15px 15px;
}

.modal-requiry {
    display: block;
    margin-top: 10px;
}
