@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
/* variables */
$primary-color: #377dff;
$secondary-color: #233142;
$transition: 0.2s;

/* /variables */

@import "fonts";
@import "normalize";
@import "header";
@import "how-we-works";
@import "features";
@import "workers";
@import "reasons";
@import "gallery";
@import "swiper-bundle.min";
@import "testimonials";
@import "innovation";
@import "news";
@import "footer";
@import "modals";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  outline: none;
}

body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #e5e5e5;
  margin: 0 auto;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  &.navigation-container {
    @media (max-width: 992px) {
      padding: 0;
    }
  }

  @media (max-width: 1280px) {
    max-width: 1100px;
  }
  @media (max-width: 1140px) {
    max-width: 992px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(20px + 30 * ((100vw - 320px) / (1440 - 320)));
  line-height: 150%;
  font-weight: 400;
  margin: 0;

  @media (min-width: 1441px) {
    font-size: 50px;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  line-height: 150%;
  font-weight: 600;
  color: #141d28;
  margin: 0;
  padding-left: 38px;
  border-left: 3px solid $primary-color;

  &.decoration-none {
    border-left: none;
    padding-left: 0;
  }

  @media (max-width: 576px) {
    padding-left: 25px;
  }
  @media (max-width: 400px) {
    padding-left: 15px;
  }
  @media (max-width: 576px) {
    font-size: 35px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

.big-title {
  font-size: calc(43px + 37 * ((100vw - 320px) / (1440 - 320)));

  @media (min-width: 1441px) {
    font-size: 80px;
  }
}

.medium-title {
  font-size: calc(35px + 20 * ((100vw - 320px) / (1440 - 320)));

  @media (min-width: 1441px) {
    font-size: 55px;
  }
}

.small-title {
  font-size: 12px;
}

.color-text {
  color: $primary-color;
}

.unbold-text {
  font-weight: 400;
}

address {
  font-style: normal;
}

.social-icons {
  font-size: 15px;
  color: #ffffff;
  padding: 5px;
  transition: $transition;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 17px 0;
  border: 2px solid $primary-color;
  transition: $transition;
  position: relative;
  z-index: 0;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background-color: $primary-color;
    transform: scale(0);
    z-index: -1;
    transition: $transition ease-in;
  }

  @media (min-width: 993px) {
    &:hover,
    &:focus {
      color: #ffffff;
      &::after {
        transform: scale(1);
      }
    }
  }
}

.scroll-up-btn {
  display: none;

  @media (min-width: 993px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 125, 255, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.2s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    cursor: pointer;

    &::after {
      content: "\f077";
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      color: #ffffff;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(55, 125, 255, 0.95);
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
